<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao Blog do Node de Haroldo</h1>
  <p class="lead">Este é um site feito em NodeJs com Express</p>
  <hr class="my-4">
  <p>Criei ele com a finalidade de entender o funcionamento do Node e também como uma base para projetos futuros.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>
<h2>Postagens recentes: </h2>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <H3>{{titulo}}</H3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
      <hr>
      <small>Categoria: {{categoria.nome}}</small><br>
      <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nenhuma postagem registrada</h5>
{{/each}}