{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <H3>{{titulo}}</H3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
      <hr>
      <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nenhuma postagem registrada</h5>
{{/each}}